/* Reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

.debug{
    border: 1px solid red;
}

.debug-01{
    border: 1px solid rgb(114, 55, 252);
}

/* Layout rules */

body{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
}

header{
    background-color: #282828;
}

.toolbar .toolbar__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    gap: 20px;
    padding: 5px;
    overflow: hidden;
}

.toolbar .toolbar__wrapper .toolbar__item{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
} 


.toolbar__wrapper .toolbar__item .toolbar_img_wrapper{
    max-width: 75px;
    width: 75px;
    padding-right: 10px;
}

.toolbar__wrapper .toolbar__item .toolbar_img_wrapper picture{
  overflow: hidden;
}


.toolbar__wrapper .toolbar__item .toolbar_img_wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.toolbar__wrapper .toolbar__item .toolbar__text__wrapper {
    margin-right: 20px;
}

.toolbar__wrapper .toolbar__item .toolbar__text__wrapper h5{
    font-size: 16px;
}

.toolbar__wrapper .toolbar__item .toolbar__text__wrapper p{
    font-size: 12px;
}

.toolbar__wrapper .toolbar__item .toolbar__icon__wrapper i{
    padding: 5px;
}

.toolbar__wrapper .timebar{
    /* padding: 10px 5px; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.toolbar__wrapper .timebar .timebar__player_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 25px;
}

.toolbar__wrapper .timebar .timebar__player_wrapper i{
    font-size: 20px;
}

.toolbar__wrapper .timebar .timebar__player_wrapper li:nth-child(3) i{
    font-size: 30px;
}

.toolbar__wrapper .timebar .timebar__timeline__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}


.toolbar__wrapper .timebar .timebar__timeline__wrapper .timebar__row_wrapper,
.toolbar__item .toolbar__item__wrapper .timebar__row_wrapper{
    width: 100%;
    flex-grow: 1;
}

.toolbar__wrapper .timebar .timebar__timeline__wrapper .timebar__row .timebar__row__2,
.toolbar__item .toolbar__item__wrapper .timebar__row_wrapper .timebar__row__2 {
    position: absolute;
    z-index: 99999;
    border-radius: 999px;
    width: 15%;
    background-color: white;
    height: 5px;
}

.toolbar__wrapper .timebar .timebar__timeline__wrapper .timebar__row,
.toolbar__item .toolbar__item__wrapper .timebar__row_wrapper .timebar__row{
    position: relative;
    border-radius: 999px; 
    width: 100%;
    background-color: #5a5a5a;
    height: 5px;
    z-index: 1;
}

.toolbar__item .toolbar__item__wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
}



.toolbar__item .toolbar__item__wrapper li i{
    padding-right: 5px;
}





 












main{
    width: 100%;
    background-color:  #141922;
    flex-grow: 1;
    display: flex;  
}

aside{
    min-width: 250px;
    background-color: black;
}

#main__container{
    background-color: #141922;
    flex-grow: 1;
}


